/* The container for the entire repository table */
.repo-table {
	width: 100%;
	margin: 0 auto;
}

/* The header for the repository table */
.repo-table-header {
	display: grid;
	grid-template-columns: 0.4fr 2fr 3.5fr 0.6fr 0.6fr 0.6fr 0.6fr;
	align-items: center;
	gap: 10px;
	padding: 10px 10px;
	font-weight: 300;
	border-bottom: 1px solid #7c8693;

	text-align: center; /* Center-align header text */
}

/* Each repository row in the table */
.repo-table-row {
	display: grid;
	grid-template-columns: 0.4fr 2fr 3.5fr 0.6fr 0.6fr 0.6fr 0.6fr;
	align-items: center;
	gap: 10px;
	padding: 20px 10px;
	border-bottom: 1px solid #7c8693;
	text-align: center; /* Center-align row text */
}

.repo-table-header b {
	font-size: 14px;
	color: #cacaca;
}
/* Style for links */
.repo-table-row a {
	color: #4493d6;
	text-decoration: none;
}

.repo-table-row a:hover {
	text-decoration: underline;
}

.repo-table-row p {
	font-size: 14px; /* Smaller font size on mobile */
	color: #898e99;
}

.repo-table-row a {
	font-size: 14px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
	.repo-table-header {
		display: none; /* Hide the header on mobile */
	}

	.repo-table-row {
		grid-template-columns: 1fr 3fr 1fr; /* Adjust grid for mobile view */
		gap: 15px;
		border: 1px solid #cacaca;
		margin-bottom: 10px;
	}
}
