.main-right-container {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 12px;
	width: 100%;
	box-shadow: 0 0 3px 6px rgba(158, 157, 157, 0.1);
	margin: 20px;
	margin-top: 25px;
	animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
