/* .list-repo {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.left-container {
	width: 30%;
	padding: 30px;
	border-right: 1.5px solid #474747;
}

.right-container {
	width: 65%;
	padding: 30px;
} */

.list-repo {
	display: flex;
	/* flex-direction: row; */
	/* margin: auto; */
	/* justify-content: space-between; */
}

.left-container {
	border: 2px solid white;
}

.right-container {
	border: 2px solid white;

}
