/* Navbar.css */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	color: white;
	position: sticky;
	top: 0;
	z-index: 1000; /* Ensure it's on top */
	background-color: #25292e;
	font-size: 14px;
}

.navbar-left,
.navbar-right {
	display: flex;
	align-items: center;
}

.navbar-left {
	flex: 1;
	gap: 15px;
}

.menu-icon {
	height: 27px;
	padding: 2.5px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.logo {
	font-size: 28px;
	font-weight: 500;
	color: #ccc;
}

/* .navbar-center {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.search-bar {
	width: 60%;
	display: flex;
	align-items: center;
	position: relative;
	font-size: 14px;
}

.search-box {
	flex-grow: 1;
	padding: 8px;
	border: 1px solid #7c8693;
	border-radius: 4px;
	font-size: 14px;
	outline: none;
	color: #b9bdc6;
	background-color: #25292e;
	padding-right: 50px;
}

.search-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 8px;
	position: absolute;
	right: 5px; /* Adjust based on the search box padding */
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-img {
	width: 24px; /* Adjust size as needed */
	height: 24px; /* Adjust size as needed */
}

.navbar-right {
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	gap: 10px; /* Add space between search button and status buttons */
}

.status {
	padding: 8px 16px;
	background-color: #25292e;
	border-radius: 4px;
	border: 1px solid #7c8693;
	cursor: pointer;
	transition: background-color 0.3s ease-out;
	font-size: 14px;
	font-weight: 400;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.status:hover {
	color: #ccc;
	background-color: #4d5258;
}

