/* Home.css */
.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 35vw;
	animation: fadeIn 2.5s ease-in-out;
}

.home-page {
	display: flex;
	flex-direction: column;
	perspective: 1000px;
	width: 60%;
	margin: 0 auto;
}

.header-container {
	height: 250px;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-bottom: 50px;
	align-items: center;
	justify-content: center;
}

.heading {
	font-size: 50px;
	font-weight: 700;
	color: #ccc;
	margin-top: 100px;
	justify-content: left;
}

.heading span {
	color: #4493d6;
	font-size: 70px;
	font-weight: bold;
	transition: color 0.3s ease;
}

.bullet-points {
	color: #4493d6;
	margin-top: 20px;
	font-size: 20px;
	text-align: left;
	font-weight: 600;
}

.description {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin: 20px;
	align-items: center;
	text-align: center;
	animation: fadeIn 2.5s ease-in-out;
	gap: 10px;
}

.footer {
	color: #7c8693;
	font-weight: 300;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
