.main-right-container {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 12px;
	width: 75%;
	box-shadow: 0 0 3px 6px rgba(158, 157, 157, 0.1);
	margin: 20px;
	margin-top: 25px;
	animation: fadeIn 1.5s ease-in-out;
}

.search-sort {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	position: sticky;
	top: 82px;
	z-index: 10;
}

.section-title {
	font-size: 25px;
	font-weight: bold;
	color: #7c8693;
}

.search-sort-controls {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 12px; /* Add spacing between the search box and select dropdown */
}

.search-input {
	background-color: #25292e;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #7c8693;
	border-radius: 4px;
	color: #b9bdc6;
	width: 200px;
	outline: none;
}

.sort-select {
	background-color: #25292e;
	border: 1px solid #7c8693;
	padding: 8px;
	text-align: center;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	color: #7c8693;
}

.sort-select:focus {
	outline: none;
	color: #7c8693;

	border-color: #202328;
	background-color: #4d5258;
	box-shadow: 0 0 0 2px rgba(63, 84, 111, 0.2);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
