/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Outfit;
	scroll-behavior: smooth;
	color: #e4e4e4;
}

body {
	min-height: 100vh;
	background-color: #0D1117;
}

a {
	text-decoration: none;
	color: inherit;
}

.app {
	width: 85%;
	margin: auto;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

hr {
	border: 0;
	height: 1px;
	background-color: #444;
	margin: 5px 0;
}

.app-navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
}

.app-content {
	display: flex;
}

/* .app{

} */
