.main-left-container {
	width: 25%;
	animation: fadeIn 1.5s ease-in-out;
}

.user-profile {
	position: sticky;
	top: 82px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 0 3px 6px rgba(158, 157, 157, 0.1);
}

.profile-details {
	width: 100%;
	text-align: center;
}

.profile-pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	cursor: pointer;
	align-self: center;
	border: 3px solid #3c414a; /* Light border around avatar */
	margin: 4px;
}

.user-name {
	font-size: 20px;
	margin: 3px;
	font-weight: 600;
}

.user-login {
	font-size: 18px;
	margin: 1px;
	color: #787f87;
	font-weight: 300;
}

.github-link {
	margin: 10px;
}

.github-button {
	background-color: #24292e;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 12px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.github-button:hover {
	background-color: #4d5258;
}

.additional-info {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bio {
	color: #ccc;
	font-size: 14px;
	text-align: left;
}

.company {
	color: #ccc;
	font-size: 14px;
	text-align: left;
}

.location {
	color: #ccc;
	text-align: left;
	font-size: 14px;
}

.stats {
	display: flex;
	margin: 20px 0px;
	flex-direction: column;
	text-align: left;
	justify-content: space-around;
	/* gap: 12px; */
}

.stats-item {
	font-size: 14px;
	margin: 3px 0px;
}

.separator {
	border-bottom: 1px solid #7c8693;
	margin: 2px 0px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
