/* Container for search results */
.search-results {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin: 3%;
	animation: fadeIn 1s ease-out forwards; /* Apply fade-in animation */
}

/* Style for individual cards */
.card {
	margin: 6px;
	background-color: #151b23;
	border-radius: 10px;
	box-shadow: 0 0 3px 6px rgba(158, 157, 157, 0.1);
	width: 200px;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	position: relative;
	overflow: hidden;
	opacity: 0; /* Start with zero opacity */
	animation: fadeIn 0.8s ease-out forwards; /* Apply fade-in animation */
}

/* Card hover effect */
.card:hover {
	transform: scale(1.05);
}

/* Style for avatar images */
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
	cursor: pointer;
}

/* Style for user name */
.name {
	font-size: 16px;
	font-weight: bold;
	color: #ccc;
	background-color: #151b23;
}

/* Style for username */
.username {
	font-size: 12px;
	color: #f0f6fc;
	background-color: #151b23;
	margin: 5px 0px;
}

/* Style for username links */
.username a {
	text-decoration: none;
	color: #3993f8; /* Bright blue for text color */
	transition: color 0.2s ease-in-out, background-color 0.2s ease;
	background-color: #151b23;
	border-radius: 3px; /* Optional: Add rounded corners */
}

/* Card hover effect: box shadow and translation */
.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Additional card details styling */
.card-details {
	background-color: #151b23;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px); /* Optional: Slight vertical movement */
	}
	to {
		opacity: 1;
		transform: translateY(0); /* End with original position */
	}
}
